
@font-face {
    font-family: "GothamPro";
    src: 
        url(../fonts/GothamPro.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: GothamPro, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

#slide01, #slide02 {
    padding-bottom: 9.8vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	border: none;
}

#first {
	background-image: url("../img/bg/background01.png");
}

#second {
	background-image: url("../img/bg/background02.png");
}

#third {
	background-image: url("../img/bg/background03.png");
}

.swiper-container-vertical>.swiper-pagination-bullets 
.swiper-pagination-bullet {
    margin: 0.5vw 0;
    display: block;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 1.3vw;
    height: 1.3vw;
    display: inline-block;
    border-radius: 100%;
    background: #007aff;
}

.swiper-pagination-bullet {
	background: #fff;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #f78b1f; 
}

#title {
	position: absolute;
}

.content-layer {
    width: 100%;
    height: 100%;
    
    display:  flex;
    flex-direction: column;
    
}

.arrow-block {
    width: 100%;
    height: 9.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}


p {
    margin: 0;
}

/* FIRST SLIDE */

#header {
    width: 100%;
    height: 31vh;
    text-align: left;
}

h1 {
    font-size: 6.5vh;
    line-height: 7vh;
    color: #0d319c;

    position: relative;

    margin-top: 18.5vh;
    margin-left: 7vw;
}

#first-line {
    width: 100%;
    height: 20vh;
    position: relative;
    top: 5.1vh;
}

#second-line {
    width: 100%;
    height: 11vh;

    position: relative;
}

#third-line {
    width: 100%;
    height: 36vh;

    position: relative;
}

.pulse {
    margin: 0 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: radial-gradient(#cd8548, #cf1437);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    opacity: 0.9;

    position: absolute;
} 


#pulse01 {
    width: 30px;
    height: 30px;
    top: 0.5vh;
    left: 56vw;
}

#pulse02 {
    width: 22px;
    height: 22px;
    left: 27vw;
    top: 7vh;
}

#pulse03 {
    width: 15px;
    height: 15px;
    left: 80vw;
    top: 9vh;
}

#pulse04 {
    width: 15px;
    height: 15px;
    left: 46.3vw;
    top: 11vh;
}

@keyframes pulse { 
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.4);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
 }

.text {
    color: #0d319c;
    font-size: 2.6vh;

    position: absolute;
}

#text01 {
    left: 60vw;
}

#text02 {
    left: 21vw;
    top: 3vh;
}

#text03 {
    left: 35vw;
    top: 7vh;
}

#text04 {
    left: 77vw;
    top: 5vh;
}

/* SECOND SLIDE */

h2 {
    line-height: 7vh;
    font-size: 6.5vh;
    color: #fff;

    margin: 0;
}

#line01, #line03 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

#line01 {
    height: 33.3vh;
}

#line02 {
    height: 13.3vh;
}

#line03 {
    height: 43.5vh;
}


 img {
    height: 100%;
    width: auto;
}

#ice21{
    height: 5vh;
    width: 4vw;

    position: relative;
    top: 21vh;
    left: 8vw;
}

#ice22{
    height: 25vh;
    width: 15vw;

    position: relative;
    top: 5vh;
    right: -3vw;
}

#ice23{
    height: 15vh;
    width: 11vw;

    position: relative;
    top: 11vh;
    left: 22vw;
}

#ice24{
    height: 8.4vh;
    width: 6vw;

    position: relative;
    top: 30vh;
    right: 24vw;
}

.arrow-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg/orange.png");
}

.arrow-text {
    font-size: 2.1vh;
    color: #fff;
}

.arrow-line {
    margin-top: -2vh;
    width: 4.5vw;
    padding-bottom: 2.3vh;
}


/* THIRD SLIDE */

#row {
    width: 100%;
    height: 18vh;
    position: relative;
    margin-bottom: 2vh;
}

#ice31 {
    width: 4vw;
    height: 6.8vh;
    position: absolute;
    top: 13vh;
    left: -1vw;
}

#ice32 {
    width: 17vw;
    height: 23vh;
    position: absolute;
    bottom: 0;
    left: 15vw;
}

#last-h2 {
    font-size: 3.9vh;
    position: absolute;
    top: 13vh;
    left: 9vw;
}

#cols {
    width: 100%;
    height: 82vh;
    display: flex;
}

#slide03-img {
    width: 88vw;
    height: 60vh;
}

#img03 {
    width: auto;
    height: 100%
}

.slide03-col {
    height: 60vh;
    width: 6vw;
}

#row-bottom {
    width: 100%;
    height: 20vh;
}

#ice33 {
    width: 9vw;
    height: 12vh;
    margin-top: 7vh;
    margin-left: -4vw;
}